html {
    background-color: grey;
}

body {
    max-width: 992px;
    margin: auto;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.cover-photo {
    max-height: 450px;
    overflow: hidden;
    margin-bottom: 50px
}

.post .container {
    margin-bottom: 70px;
}

/* Navbar */
.navbar-brand {
    width: 300px;
}

.navbar-brand img.logo-img {
    height: 55px;
    width: 55px;
    float: left;
}

.navbar-brand h2.ydwc {
    font-size: 2em;
    font-weight: bold;

    color: black;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

/* Sections */
.section-title {
    margin-bottom: 40px;
}


/* Cover Photo */
#slider {
    background: url("../img/retreat_2017.jpg") no-repeat;
    background-size: cover;
    padding: 200px 0 100px 0;
}

#slider:before {
    background: linear-gradient(to left, #8b86a3, #322e40);
    opacity: 0.2;
}

#slider .block p {
    font-size: 30px;
    text-align: left;
}

#slider .block p.small {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
}

.text-center p {
    max-width: 400px;
    text-align: center;
}

/* Intro */
#intro .block p {
    text-align: center;
}

/* About */
#cover-photo {
    background: url("../img/IMG_0280.JPG") no-repeat;
    background-size: cover;
    height: 500px;
    padding: 200px 0 100px 0;
}


/* Company Logos */
section#companies {
    text-align: center;
}

section#companies .logo-container {
    display: inline-flex;
    margin-bottom: 40px;
}

section#companies .logo-item > img {
    max-height: 100px;
    max-width: 200px;
    padding: 0px 20px;
    display: inline-flex;
}

/* Events Peek */
section#events-peek {
    text-align: center;
    margin-bottom: 50px;
}

section#events-peek .event-item {
    text-align: left;
}

#events-peek div.next_url {
    text-align: right;
    padding: 0px 100px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

/* Events Page */
section#events-page .event-item {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px dotted #ddd;
}