html {
    background-color: #ddd;
    min-height: 100%;
}

body {
    max-width: 992px;
    min-height: 100vh;
    margin: auto;
}

.wrapper {
    min-height: calc(100vh - 220px);
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.cover-photo {
    max-height: 450px;
    overflow: hidden;
    margin-bottom: 50px
}

.post .container {
    margin-bottom: 70px;
}

/* Navbar */
.navbar-brand {
    width: 300px;
}

.navbar-brand img.logo-img {
    height: 55px;
    width: 55px;
    float: left;
}

.navbar-brand h2.ydwc {
    font-size: 2em;
    font-weight: bold;

    color: black;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

/* Sections */
.home > section {
    padding: 20px 0px;
    margin: 30px 0px;
    border-bottom: 1px dotted #ddd;
}

.section-title {
    margin-bottom: 40px;
}

.africa-pattern {
    height: 40px;
    background: url("../img/africa_pattern.jpg") no-repeat;
    background-size: cover;
}

/* Cover Photo */
#slider {
    background: url("../img/retreat_2018.jpg") no-repeat center center;
    background-size: cover;
    height: 450px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#slider:before {
    background: linear-gradient(to left, #8b86a3, #322e40);
    opacity: 0.2;
}

#slider .block p {
    font-size: 30px;
    text-align: left;
}

#slider .block p.small {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
}

.text-center p {
    max-width: 400px;
    text-align: center;
}

/* Intro */
#intro .block p {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

section#intro {
    padding: 10px 0px;
}

/* About */
#cover-photo {
    background: url("../img/IMG_0280.JPG") no-repeat center center;
    background-size: cover;
    height: 450px;
    padding: 200px 0 100px 0;
}


/* Company Logos */
section#companies {
    text-align: center;
}

section#companies .logo-container {
    display: inline-flex;
    margin-bottom: 40px;
}

section#companies .logo-item > img {
    max-height: 100px;
    max-width: 200px;
    padding: 0px 20px;
    display: inline-flex;
}

/* Events Peek */
section#events-peek {
    text-align: center;
    margin-bottom: 50px;
}

section#events-peek .event-item {
    text-align: left;
}

#events-peek div.next_url {
    text-align: right;
    padding: 0px 100px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

/* Events Page */
section#events-page .event-item {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px dotted #ddd;
}

/* Our Values */
section#values {
    text-align: center;
}

div.values-container {
    display: flex;
}
div.values-container label {
    margin-bottom: 0px;
}

div.value-portrait {
    float: left;
    width: 20%;
}

div.value-portrait#knowledge {
    background: url("../img/tamika.jpg") no-repeat center center;
    background-size: cover;
}

div.value-portrait#talent {
    background: url("../img/mustie.jpg") no-repeat center center;
    background-size: cover;
}

div.value-portrait#community {
    background: url("../img/georgia.jpg") no-repeat center center;
    background-size: cover;
}

div.value-portrait#support {
    background: url("../img/joel.jpg") no-repeat center center;
    background-size: cover;
}

div.value-portrait#narratives {
    background: url("../img/ebun.jpg") no-repeat center center;
    background-size: cover;
}

div.value-button {
    cursor: pointer;
    width: 100%
    height: 100%;
}

div.value-button > img {
    width: 100%;
}

div.value-item {
    min-height: 245px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + div.value-button {
    visibility: hidden;
    border: 1px solid red;
}


/* Payments page */
#payments-page table {
    margin: 50px;
    width: 100%;
}

#payments-page table tr {
    height: 40px;
    font-size: 1.1em;
}

#payments-page table th {
    height: 40px
    font-weight: bold;
    font-size: 1.1em;
}

