<!-- Values Start -->
<section id="values">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.values.title }}</h2>
      </div>
    </div>

    <!--  Button / Portraits  -->
    <div class="values-container">
      {{ range .Site.Data.values.content }}
        <div id="{{ .keyword }}" class="value-portrait">
          <label>
            {{ if eq .keyword "community" }}
              <input type="radio" name="values" value="{{ .keyword }}" id="{{ .keyword }}" checked/>
            {{ else }}
              <input type="radio" name="values" value="{{ .keyword }}" id="{{ .keyword }}"/>
            {{ end }}
            <div class="value-button">
              <img src="../img/{{ .keyword }}.png">
            </div>
          </label>
        </div>
      {{ end }}
    </div>

    <!-- Content -->
    <div class="row">
      {{ range .Site.Data.values.content }}
      <div id="{{ .keyword }}" class="value-item">
        <div class="col-sm-2 col-md-3"></div>
        <div class="col-sm-8 col-md-6">
          <h2>{{ .title }}</h2>
          <p>{{ .text }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>