<!DOCTYPE html>
<html>
<head>
    {{ partial "head.html" . }}
</head>
<body>

    {{ partial "header.html" . }}

    <!-- Wrapper Start -->
    <section id="events-page" class="page" style="border: 1px dotted #ddd;">
      <div class="cover-photo">
        {{ with .Params.image }}<img src="{{ . | absURL }}" width="100%" alt="post-image"> {{ end }}
      </div>
      <div class="container">
        <div class="row">
          <div>
            <div class="col-md-1"></div>
            <div class="block col-md-10">
              <h1 id="events-title">{{ .Params.title }}</h1>
              <hr />

              {{ $data := getJSON "https://www.googleapis.com/calendar/v3/calendars/u5lq980nc19uol0mo622rfrkg4@group.calendar.google.com/events?singleEvents=true&orderBy=startTime&key=AIzaSyCIk30cGtgdYj_8mjMa_gs7aPMjz1Xb-l4" }}

              {{ range $data.items }}
                <div class="event-item">
                  <h3>{{ .summary }}</h3>
                  <h4>{{ .location }} </h4>
                  <h4>{{ dateFormat "Monday, January 2, 2006 | 3:04 PM" .start.dateTime }} - {{ dateFormat "3:04 PM" .end.dateTime }} </h4>
                  {{ $desc := replace .description "\n" "<br/>" | safeHTML }}
                  <p>{{ $desc }}</p>
                </div>
              {{ end }}
            </div>
          </div><!-- .col-md-7 close -->
        </div>
      </div>
    </section>

    {{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
        {{ partial "call-to-action.html" . }}
    {{ end }}

    {{ partial "footer.html" . }}
</body>
</html>